/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  padding: 10px;
  font-family: 'IBM Plex mono', 'arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #F1B2CE;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: inline-block;
  z-index: 1;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: inline-block;
  z-index: 1;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
  inset-block-end: 0;
  inset-inline-start: 0;
}

.header__theme_mirage {
  position: absolute;
  z-index: 1;
  color: #FF0070;
  width: 52px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 9px;
}

.header__theme_mirage::before {
  content: 'REC';
  line-height: 25px;
}

.header__theme_mirage::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  background-color: #FF0070;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #FF0070;

}

.header__theme-menu {
  grid-template-rows: 1;
  justify-self: end;
  align-self: center;
  color: #FF0070;
  line-height: 23px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  min-inline-size: 70px;
  background-color: transparent;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid #FF0070;
}

.title__accent {
  grid-template-rows: 2;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title {
  grid-template-rows: 3;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  align-self: center;
}

.title-decor {
  background-color: #FF0070;
  color: #000028;
}