/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  padding: 0 10px;
  font-family: var(--main-font-family, monospace);
  font-weight: 400;
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 1.3);
  color: var(--main-text-color, #F1B2CE);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-color: var(--main-bg-color, #000028);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.facade {
  position: relative;
  z-index: 0;
  align-items: center;
  block-size: max(100vh, 668px);
  padding: 10px 0;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  margin-block-end: 40px;
}

.header__theme_mirage {
  position: absolute;
  z-index: 1;
  color: var(--accent-color, #FF0070);
  min-width: 52px;
  min-height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  inset-block-start: 10px;
  inset-inline-end: 9px;
}

.header__theme_mirage::before {/* надпись rec */
  content: 'REC';
  line-height: 25px;
}

.header__theme_mirage::after {/* кружочек */
  content: '';
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color, #FF0070);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #FF0070);
}

.header__theme-menu {
  grid-row: 1 / 2;
  justify-self: end;
  align-self: center;
  color: var(--nav-color, #FF0070);
  line-height: 23px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  min-inline-size: 70px;
  background-color: transparent;
  border: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--nav-hover-color, rgb(255 8 112 / 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0 1px 0 0 var(--nav-color, #FF0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-color, #FF0070);
  pointer-events: none;
}

.title__logo {
  font-weight: 700;
  line-height: 83%;
}

.header .title__logo {
  font-size: var(--header-logo-size, 120px);
  color: var(--header-logo-color);
  grid-row: 2 / 3;
  justify-self: start;
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

.header__title {
  grid-row: 3 / 4;
  font-weight: 700;
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 1.3);
  align-self: center;
}

.content__section {
  margin-block-end: 50px;
}

.content__title {
  margin-block-end: 10px;
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 1.3);
  color: var(--section-heading-color, #FF0070);
}

.content__section-title,
.content__section-subtitle {
  margin-block-end: 20px;
}

.title-think {
  font-weight: 400;
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--main-heading-color, #000028);
}

.content__text {
  margin-block-end: 20px;
}

p:not(:last-child) {
  margin-block-end: 10px;
}

.text__links {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  outline: none;
}

.text__links:hover {
  outline: none;
  box-shadow: 0 1px 0 0 var(--main-text-color, #F1B2CE);
}

.text__links:focus {
  outline: none;
}

.text__links:focus-visible {
  outline: 1px solid var(--main-text-color, #F1B2CE);
}

.content__gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--main-gap, 10px);
}

.content__gallery .content__section-title {
  margin-block-end: 0;
}

.content__picture {
  inline-size: 100%;
}

.footer {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: start;
  margin-block-start: 40px;
}

.footer .title__logo {
  font-size: var(--footer-logo-size, 120px);
  color: var(--footer-logo-color, #DB00FF);
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  justify-self: center;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  display: inline-block;
  z-index: 1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {/* уголочек верхний */
  border-top: 1px solid var(--nav-color, #FF0070);
  border-right: 1px solid var(--nav-color, #FF0070);
  inset-block-start: 10px;
  inset-inline-end: 0;
}

.decorated-zone::after {/* уголочек нижний */
  border-bottom: 1px solid var(--nav-color, #FF0070);
  border-left: 1px solid var(--nav-color, #FF0070);
  inset-block-end: 10px;
  inset-inline-start: 0;
}

@media (width >= 768px) {

  .page {
    padding: 0 20px;
  }

  .facade {
    padding: 20px 0;
  }

  .header {
    margin-block-end: 60px;
  }

  .header__theme_mirage {
    inset-block-start: 20px;
  }

  .header .title__logo {
    margin-inline-start: -20px;
  }

  .header__title {
    inline-size: 50%;
  }

  .content__section {
    margin-block-end: 80px;
    display: grid;
    gap: var(--main-gap);
  }

  .why {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, min-content);
  }

  .why .content__section-title {
    grid-row: 1 / 3;
  }

  .why .text-block {
    grid-column: 2;
  }

  .content__text {
    margin-block-end: 0;
  }

  .content__section-title {
    margin-block-end: 0;
  }

  .reasons {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
  }

  .reasons .text-block {
    grid-column: span 3;
  }

  .recipes {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, min-content);
  }

  .recipes .content__section-title {
    grid-row: span 6;
  }

  .recipes .content__section-subtitle {
    grid-column: 2;
    margin-block-end: 0;
  }

  .recipes .text-block {
    grid-column: 2;
  }

  .content__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    gap: var(--main-gap, 20px);
  }

  .content__gallery .content__section-title {
    grid-column: 1 / 4;
  }

  .content__picture {
    height: min(100%, 1200px);
    width: min(100%, 1200px);
    object-fit: cover;
    object-position: center;
  }

  .content__picture:nth-of-type(1) {
    grid-column: span 2;
  }

  .content__picture:nth-of-type(2) {
    grid-row: span 2;
  }

  .content__picture:nth-of-type(3) {
    grid-row: span 2;
  }

  .content__picture:nth-of-type(5) {
    grid-column: span 2;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, min-content);
  }

  .why {
    grid-template-columns: repeat(3, 1fr);
  }

  .why .text-block {
    grid-column: 2 / 4;
  }

  .reasons {
    grid-template-rows: repeat(2, min-content);
  }

  .reasons .content__section-title {
    grid-column: 1 / 4;
    max-width: calc(100%/3);
  }

  .reasons .text-block {
    grid-column: span 1;
  }

  .recipes {
    grid-template-columns: repeat(3, 1fr);
  }

  .recipes .content__section-title {
    grid-row: span 6;
  }

  .recipes .content__section-subtitle {
    grid-column: span 2;
  }

  .recipes .text-block {
    grid-column: 2 / 4;
  }
}